files/SMSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://ws.sms.esb.jmmb.com/" name="SMSService" targetNamespace="http://ws.sms.esb.jmmb.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns="http://ws.sms.esb.jmmb.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.sms.esb.jmmb.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="sendSMS">
        <xs:sequence>
          <xs:element minOccurs="0" name="applicationName" type="xs:string" />
          <xs:element minOccurs="0" name="company" type="xs:string" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="serviceNumber" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendSMSResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="sendSMS" nillable="true" type="sendSMS" />
      <xs:element name="sendSMSResponse" nillable="true" type="sendSMSResponse" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="sendSMS">
    <wsdl:part name="parameters" element="ns1:sendSMS" />
  </wsdl:message>
  <wsdl:message name="sendSMSResponse">
    <wsdl:part name="parameters" element="ns1:sendSMSResponse" />
  </wsdl:message>
  <wsdl:portType name="SMSService">
    <wsdl:operation name="sendSMS">
      <wsdl:input name="sendSMS" message="ns1:sendSMS" />
      <wsdl:output name="sendSMSResponse" message="ns1:sendSMSResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>