files/SMSService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="SMSService" targetNamespace="http://ws.sms.esb.jmmb.com/wsdl/SMSService/" xmlns:ns1="http://ws.sms.esb.jmmb.com/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.sms.esb.jmmb.com/wsdl/SMSService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.sms.esb.jmmb.com/" xmlns="http://ws.sms.esb.jmmb.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="sendSMS">
<xs:sequence>
  <xs:element minOccurs="0" name="applicationName" type="xs:string" /> 
  <xs:element minOccurs="0" name="company" type="xs:string" /> 
  <xs:element minOccurs="0" name="message" type="xs:string" /> 
  <xs:element minOccurs="0" name="serviceNumber" type="xs:string" /> 
  </xs:sequence>
  </xs:complexType>
<xs:complexType name="sendSMSResponse">
  <xs:sequence /> 
  </xs:complexType>
  <xs:element name="sendSMS" nillable="true" type="sendSMS" /> 
  <xs:element name="sendSMSResponse" nillable="true" type="sendSMSResponse" /> 
  </xs:schema>
  </wsdl:types>
<wsdl:message name="sendSMS">
  <wsdl:part element="ns1:sendSMS" name="parameters" /> 
  </wsdl:message>
<wsdl:message name="sendSMSResponse">
  <wsdl:part element="ns1:sendSMSResponse" name="parameters" /> 
  </wsdl:message>
<wsdl:portType name="SMSService">
<wsdl:operation name="sendSMS">
  <wsdl:input message="ns1:sendSMS" name="sendSMS" /> 
  <wsdl:output message="ns1:sendSMSResponse" name="sendSMSResponse" /> 
  </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="SMSServiceSoapBinding" type="ns1:SMSService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendSMS">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sendSMS">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendSMSResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMSService">
    <wsdl:port binding="tns:SMSServiceSoapBinding" name="SOAPOverHTTP">
      <soap:address location="http://intrasrv-unit:9191/esb/SMSService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>